In [69]:
{
    "cells": [],
    "metadata": {},
    "nbformat": 4,
    "nbformat_minor": 5
}

{'cells': [], 'metadata': {}, 'nbformat': 4, 'nbformat_minor': 5}

In [70]:
#Imports
from estadistica.cualitativa import EstadisticaCualitativa
from estadistica.cuantitativa import EstadisticaCuantitativa

In [71]:
#Ejemplo con datos cualitativos
datos_cat = ['Rojo', 'Rojo', 'Azul', 'Verde', 'Azul', 'Rojo', None]
cuali = EstadisticaCualitativa([d for d in datos_cat if d is not None])
cuali.resumen()

{'moda': ['Rojo'],
 'frecuencias': {'Rojo': 3, 'Azul': 2, 'Verde': 1},
 'porcentajes': {'Rojo': 50.0, 'Azul': 33.33, 'Verde': 16.67}}

In [72]:
#Usando nuestra libreria con datos reales como la base de datos Titanic (columna categ√≥rica Embarked) 
import pandas as pd
df = pd.read_csv("data/titanic.csv")    
embarked = df['Embarked'].dropna().tolist()
cuali_embarked = EstadisticaCualitativa(embarked)
cuali_embarked.resumen()

{'moda': ['S'],
 'frecuencias': {'S': 644, 'C': 168, 'Q': 77},
 'porcentajes': {'S': 72.44, 'C': 18.9, 'Q': 8.66}}

In [73]:
from estadistica.cuantitativa import EstadisticaCuantitativa
from estadistica.cualitativa import EstadisticaCualitativa

In [74]:
df = pd.read_csv("data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [75]:
import importlib
from estadistica import cuantitativa

importlib.reload(cuantitativa)  # üîÅ Fuerza la recarga del m√≥dulo actualizado

from estadistica.cuantitativa import EstadisticaCuantitativa

In [76]:
edades = df['Age'].dropna().tolist()
tarifas = df['Fare'].dropna().tolist()

edad_est = EstadisticaCuantitativa(edades)
tarifa_est = EstadisticaCuantitativa(tarifas)

print("üìä Estad√≠sticas de Edad:")
print(edad_est.resumen())

print("\nüìä Estad√≠sticas de Tarifa:")
print(tarifa_est.resumen())

üìä Estad√≠sticas de Edad:
{'media': np.float64(29.69911764705882), 'mediana': np.float64(28.0), 'varianza': np.float64(211.01912474630805), 'desviacion_estandar': np.float64(14.526497332334042), 'percentil_25': np.float64(20.125), 'percentil_50': np.float64(28.0), 'percentil_75': np.float64(38.0)}

üìä Estad√≠sticas de Tarifa:
{'media': np.float64(32.204207968574636), 'mediana': np.float64(14.4542), 'varianza': np.float64(2469.436845743116), 'desviacion_estandar': np.float64(49.6934285971809), 'percentil_25': np.float64(7.9104), 'percentil_50': np.float64(14.4542), 'percentil_75': np.float64(31.0)}

In [77]:
sexos = df['Sex'].dropna().tolist()
puertos = df['Embarked'].dropna().tolist()

sexo_est = EstadisticaCualitativa(sexos)
puerto_est = EstadisticaCualitativa(puertos)

print("üë©‚Äçü¶∞ Estad√≠sticas de Sexo:")
print(sexo_est.resumen())

print("\n‚öì Estad√≠sticas de Puerto de embarque:")
print(puerto_est.resumen())

üë©‚Äçü¶∞ Estad√≠sticas de Sexo:
{'moda': ['male'], 'frecuencias': {'male': 577, 'female': 314}, 'porcentajes': {'male': 64.76, 'female': 35.24}}

‚öì Estad√≠sticas de Puerto de embarque:
{'moda': ['S'], 'frecuencias': {'S': 644, 'C': 168, 'Q': 77}, 'porcentajes': {'S': 72.44, 'C': 18.9, 'Q': 8.66}}