In [94]:
{
    "cells": [],
    "metadata": {},
    "nbformat": 4,
    "nbformat_minor": 5
}

{'cells': [], 'metadata': {}, 'nbformat': 4, 'nbformat_minor': 5}

In [95]:
#Imports
from estadistica.cualitativa import EstadisticaCualitativa
from estadistica.cuantitativa import EstadisticaCuantitativa

In [96]:
#Ejemplo con datos cualitativos
datos_cat = ['Rojo', 'Rojo', 'Azul', 'Verde', 'Azul', 'Rojo', None]
cuali = EstadisticaCualitativa([d for d in datos_cat if d is not None])
cuali.resumen()

{'moda': ['Rojo'],
 'frecuencias': {'Rojo': 3, 'Azul': 2, 'Verde': 1},
 'porcentajes': {'Rojo': 50.0, 'Azul': 33.33, 'Verde': 16.67}}

In [97]:
#Usando nuestra libreria con datos reales como la base de datos Titanic (columna categ√≥rica Embarked) 
import pandas as pd
df = pd.read_csv("data/titanic.csv")    
embarked = df['Embarked'].dropna().tolist()
cuali_embarked = EstadisticaCualitativa(embarked)
cuali_embarked.resumen()

{'moda': ['S'],
 'frecuencias': {'S': 644, 'C': 168, 'Q': 77},
 'porcentajes': {'S': 72.44, 'C': 18.9, 'Q': 8.66}}

In [98]:
df = pd.read_csv("data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [99]:
import importlib
from estadistica import cuantitativa

importlib.reload(cuantitativa)  
from estadistica.cuantitativa import EstadisticaCuantitativa

In [100]:
# Crear una nueva columna con el total de familiares a bordo
df['Familiares'] = df['SibSp'] + df['Parch']

edades = df['Age'].dropna().tolist()
tarifas = df['Fare'].dropna().tolist()
familiares = df['Familiares'].dropna().tolist()

familiares_est = EstadisticaCuantitativa(familiares)

edad_est = EstadisticaCuantitativa(edades)
tarifa_est = EstadisticaCuantitativa(tarifas)


print("\nüìä Estad√≠sticas de Familiares a bordo:")
print(familiares_est.resumen())

print("Estad√≠sticas de Edad:")
print(edad_est.resumen())

print("\n Estad√≠sticas de Tarifa:")
print(tarifa_est.resumen())

üìä Estad√≠sticas de Familiares a bordo:
{'media': np.float64(0.9046015712682379), 'mediana': np.float64(0.0), 'varianza': np.float64(2.603248464671686), 'desviacion_estandar': np.float64(1.6134585413550873), 'percentil_25': np.float64(0.0), 'percentil_50': np.float64(0.0), 'percentil_75': np.float64(1.0)}
Estad√≠sticas de Edad:
{'media': np.float64(29.69911764705882), 'mediana': np.float64(28.0), 'varianza': np.float64(211.01912474630805), 'desviacion_estandar': np.float64(14.526497332334042), 'percentil_25': np.float64(20.125), 'percentil_50': np.float64(28.0), 'percentil_75': np.float64(38.0)}

 Estad√≠sticas de Tarifa:
{'media': np.float64(32.204207968574636), 'mediana': np.float64(14.4542), 'varianza': np.float64(2469.436845743116), 'desviacion_estandar': np.float64(49.6934285971809), 'percentil_25': np.float64(7.9104), 'percentil_50': np.float64(14.4542), 'percentil_75': np.float64(31.0)}

In [101]:
sexos = df['Sex'].dropna().tolist()
puertos = df['Embarked'].dropna().tolist()
pclass = df['Pclass'].dropna().astype(str).tolist() 

pclass_est = EstadisticaCualitativa(pclass)
sexo_est = EstadisticaCualitativa(sexos)
puerto_est = EstadisticaCualitativa(puertos)

print("\n Estad√≠sticas de Clase del pasajero:")
print(pclass_est.resumen())

print("\n Estad√≠sticas de Sexo:")
print(sexo_est.resumen())

print("\n Estad√≠sticas de Puerto de embarque:")
print(puerto_est.resumen())

 Estad√≠sticas de Clase del pasajero:
{'moda': ['3'], 'frecuencias': {'3': 491, '1': 216, '2': 184}, 'porcentajes': {'3': 55.11, '1': 24.24, '2': 20.65}}

 Estad√≠sticas de Sexo:
{'moda': ['male'], 'frecuencias': {'male': 577, 'female': 314}, 'porcentajes': {'male': 64.76, 'female': 35.24}}

 Estad√≠sticas de Puerto de embarque:
{'moda': ['S'], 'frecuencias': {'S': 644, 'C': 168, 'Q': 77}, 'porcentajes': {'S': 72.44, 'C': 18.9, 'Q': 8.66}}

In [110]:
import pandas as pd

# Tablas para las variables cuantitativas 
tabla_edad = pd.DataFrame(list(edad_est.resumen().items()), columns=["Estad√≠stico", "Valor"])
tabla_tarifa = pd.DataFrame(list(tarifa_est.resumen().items()), columns=["Estad√≠stico", "Valor"])

# Tablas para las variables cualitativas
tabla_sexo = pd.DataFrame({
    "Categor√≠a": list(sexo_est.resumen()["frecuencias"].keys()),
    "Frecuencia": list(sexo_est.resumen()["frecuencias"].values()),
    "Porcentaje": list(sexo_est.resumen()["porcentajes"].values())
})

tabla_puerto = pd.DataFrame({
    "Categor√≠a": list(puerto_est.resumen()["frecuencias"].keys()),
    "Frecuencia": list(puerto_est.resumen()["frecuencias"].values()),
    "Porcentaje": list(puerto_est.resumen()["porcentajes"].values())
})

tabla_Clase = pd.DataFrame({
    "Categor√≠a": list(pclass_est.resumen()["frecuencias"].keys()),
    "Frecuencia": list(pclass_est.resumen()["frecuencias"].values()),
    "Porcentaje": list(pclass_est.resumen()["porcentajes"].values())
})

In [111]:
print("Estad√≠sticas Cuantitativas - Edad")
display(tabla_edad.style.hide(axis="index"))

Estad√≠sticas Cuantitativas - Edad

In [112]:
print("\n Estad√≠sticas Cuantitativas - Tarifa")
display(tabla_tarifa.style.hide(axis="index"))

 Estad√≠sticas Cuantitativas - Tarifa

In [113]:
# Crear variable adicional
df['Familiares'] = df['SibSp'] + df['Parch']

# Instanciar clases
edad_est = EstadisticaCuantitativa(df['Age'].dropna().tolist())
tarifa_est = EstadisticaCuantitativa(df['Fare'].dropna().tolist())
familia_est = EstadisticaCuantitativa(df['Familiares'].dropna().tolist())

In [118]:
# Crear DataFrames para cada conjunto de estad√≠sticas
tablas = {
    "Edad": pd.DataFrame([edad_est.resumen()]),
    "Tarifa": pd.DataFrame([tarifa_est.resumen()]),
    "Familiares": pd.DataFrame([familia_est.resumen()]),
}

# Mostrar cada tabla de forma ordenada
for nombre, tabla in tablas.items():
    print(f"üìä Estad√≠sticas de {nombre}")
    display(tabla)

üìä Estad√≠sticas de Edad

,media,mediana,varianza,desviacion_estandar,percentil_25,percentil_50,percentil_75
0,29.699118,28.0,211.019125,14.526497,20.125,28.0,38.0

üìä Estad√≠sticas de Tarifa

,media,mediana,varianza,desviacion_estandar,percentil_25,percentil_50,percentil_75
0,32.204208,14.4542,2469.436846,49.693429,7.9104,14.4542,31.0

üìä Estad√≠sticas de Familiares

,media,mediana,varianza,desviacion_estandar,percentil_25,percentil_50,percentil_75
0,0.904602,0.0,2.603248,1.613459,0.0,0.0,1.0

In [115]:

print("\n Estad√≠sticas Cualitativas - Sexo")
display(tabla_sexo.style.hide(axis="index"))

 Estad√≠sticas Cualitativas - Sexo

In [116]:
print("\n Estad√≠sticas Cualitativas - Puerto de embarque")
display(tabla_puerto.style.hide(axis="index"))

 Estad√≠sticas Cualitativas - Puerto de embarque

In [117]:
print("\n Estad√≠sticas Cualitativas - Clase de pasajero")
display(tabla_Clase.style.hide(axis="index"))

 Estad√≠sticas Cualitativas - Clase de pasajero